.App {
  background: white;
  padding-left: 10px;
  padding-bottom: 10px;
}

.pointsTally {
  border: 1px rgb(228, 99, 99) solid;
  padding: 5px;
  border-radius: 4px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.predictions {
  width: 100%;
}

.fixtures {
  width: 100%;
}